/* You can add global styles to this file, and also import other style files */


/*Cargamos nuestra fuentes tipográficas*/

@font-face {
  font-family: "yanone";
  src: url("fonts/yanone.ttf");
}

@font-face {
  font-family: "finger";
  src: url("fonts/finger.ttf");
}

@font-face {
  font-family: "titilium";
  src: url("fonts/titilium.ttf");
}
@font-face {
  font-family: "steronite";
  src: url("fonts/Steronite.ttf");
}


/*Estilos Generales:*/

/* Estilos que se aplican a todos los elementos de la web:*/

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "yanone", Arial, Helvetica;
  font-size: 20px;
  background: url("img/pattern.png");
  background-attachment: fixed;/*Para que el fondo se quede fijo*/
}

.clearfix{ /*Para limpiar lo flotado entre los diferentes elementos*/
  float: none;
  clear: both;
}

/*Barra de navegación - header*/

header{
  display: block;
  width: 100%;
  height: fit-content;
  position: fixed;/*cuando hago scroll la barra de navegación se queda siempre arriba*/
  text-transform: uppercase;/*para que todo el texto sea en mayúscula*/
  background: url("img/pattern.png");
;
}

#headerDiv1{
  width: 100%;
  height: 85px;
  overflow: hidden;
}

#headerDiv2{
  width: 100%;
  height: 200px;
  background-color: rgba(74, 74, 74, 0.3);
  width: 80%;
  margin: 0px auto;
  border-left: 1px solid #b7b7b7;
  border-right: 1px solid #b7b7b7;
  box-shadow: 0px 0px 40px black;
}

header ul{
  display: block;
  width: 90%;
  height: inherit; /*heredado del padre*/
  text-align: center;
  /*para que no se salga por abajo mi margen negro cuando hace hover*/
  margin: -13px auto 0px;
}

header ul li{
  display: inline-block;/*para que se pongan los elementos uno al lado del otro*/
  margin: 0px auto;
  text-align: center;
  line-height: 100px;
  font-size: 30px;
}

header a{
  display: block;
  padding-right: 10px;
  padding-left: 10px;
  height: inherit;
  text-decoration: none;
  color: #484545;
  transition: all 300ms;/*para luego crear una animación con hover*/
}

/*Creamos una animación con hover*/

header a:hover,
.activated{ /*Creamos la clase activated para que cuando pulsemos un elemento de nuestra lista se quede marcado*/
  background: rgba(79, 79, 79, 0.54);
  color: white;
  font-weight: lighter;
  text-shadow: 1px 1px 4px #000000;
}
/* Quitamos el el efecto hover del logo - finalmente comentamos este código porque luego hago otro efecto hover diferente lara el logo*/
/*
header #logo a:hover{
  background: transparent;
  color: #484545;
}
*/

/* Estilos del logotipo */

#logo{
  font-family: steronite;
  font-size: 30px;
  font-weight: normal;
  text-transform: none;
  padding-right: 15px;
  padding-left: 15px;
}

#logo div{
  position: relative;
  top: 16px;
  height: 70px;
  width: 75px;
  border-radius: 250px;
  background-color: #989898;
  border: 2px solid #f7ff00;
  box-shadow: 2px 2px 2px #817e7e;
}

#logo div p{ /*la posición de las letras del logo*/
  position: relative;
  top: -17px;
}

#logo a{ /* hago una serie de transformaciones que solo afectan al logo cuando hago hover*/
  transition: color 500ms, transform 500ms;
  color: #f7ff00;
  font-weight: normal;
  text-shadow: none;
}

#logo a:hover{
  background: transparent;
  transform: scale(1.13,1.13);/*aumenta el tamaño del logo*/
  font-weight: normal;
  color: #646464;
}

#logo div:hover{
  background-color: #f5f105;
  border: 2px solid #646464;
}

/* Maquetando el contenedor principal*/

#content{
  min-height: 1000px;
  height: auto;
  width: 80%;
  margin: 0px auto;
  box-shadow: 0px 0px 40px black;
  background: rgba(255, 255, 255, 0.7);
  padding-top: 120px;
  padding-bottom: 30px;
  border-left: 1px solid #b7b7b7;
  border-right: 1px solid #b7b7b7;
  overflow: auto;


}

/* Pie de página */

footer {
  width: 75%;
  padding-top: 20px;
  font-family: steronite;
  margin: 0px auto;
  text-align: center;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5)
}

/*Sobre mí*/

#title {
  width: 70%;
  margin: 0px auto;
  text-align: center;
  margin-bottom: 70px;
  margin-top: 20px;
}

#title h1 {
  font-family: steronite;
  font-size: 40px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;

}
#title h2 {
  font-size: 25px;
  color: gray;
  margin-top: 5px;
  margin-bottom: 5px;
}


article.about {
  width: 70%;
  margin: 0px auto;
  margin-bottom: 20px;
  font-size: 23px;
}

.about h2{
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.about p{
  color: gray;
  text-align: justify;
}

/* Sección con formularios - create.component*/

.container {
  padding: 50px;
}

.container h2{
  display: block;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

form{
  width: 80%;
}

form label{
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
}

form input[type="text"],
form input[type="number"],
form input[type="email"],
form textarea {
  width: 40%;
  padding: 5px;
}
form button,
form input[type="submit"]{
  display: block;
  font-size: 17px;
  padding: 5px;
  margin-top: 10px;
  color: #dad55e;
  background-color: gray;
  border: 1px solid #b0b0b0;
  cursor: pointer;
}

form button:hover,
form input[type="submit"]:hover{
  color: gray;
  background-color: #dad55e;
  border: 1px solid  #b0b0b0;
}

form input[disabled]{
  opacity: 0.4;
  cursor: not-allowed;
}

.formError {
  font-size: 15px;
  color: #f5f105;
  text-shadow: 2px 2px 2px #817e7e;
  background-color: #b0b0b0;
  border: 2px solid #f5f105;
  box-shadow: 2px 2px 2px #817e7e;
  padding: 5px;
  margin-left: 5px;
}

.message{
  font-size: 15px;
  border: 1px solid #f5f105;
  box-shadow: 2px 2px 2px #817e7e;
  padding: 5px;
  width: 50%;
}

.success{
  background-color: #25ac46;
  color: white;
}

.success a{
  color: white;
}

.failed{
  background-color: #ff6060;
  color: white;
}

.container ul {
  text-align: center;
}

.project {
  list-style: none;
  display: inline-block;
  float: none;
  width: 220px;
  height: 250px;
  text-align: center;
  margin-left: auto;
  margin-right: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  border: #b0b0b0 dotted 2px ;
  background-color: #f1f1f1;
}

.container ul :hover {
  background-color: #faffd9;
}

.project .image {
  display:table-cell;
  height: 190px;
  width: 220px;
  vertical-align:middle;
  text-align:center
}

.project img{
  margin: auto;
  max-height: 170px;
  max-width: 170px;
  align-content: center;
}

.project a{
  text-decoration: none;
  color: black;
}
