<div id="title">
  <h1>{{title}}</h1>
  <h2>{{subtitle}}</h2>
  <p>{{web}}</p>
  <p>{{email}}</p>
</div>
<article class="about">
  <h2 id="sobreMi">Sobre mí</h2>
  <p>
    Padre, hijo y amigo; mitad madrileño, mitad jerezano; con mucha suerte y con muchos palos. Si cruzamos miradas, lo que me sale es sonreír.
  </p>
  <br>
  <p>
    Cuando tenía 15 años perdía la noción del tiempo maquetando páginas web en código html y editando todo tipo de contenido multimedia al ritmo de los pitidos estrambóticos que emitía mi modem de 56k.
  </p>
  <br>
  <p>
    Estudié Administración y Dirección de Empresas, me puse una corbata y aprendí a trabajar bajo presión en un entorno competitivo.
  </p>
  <br>
  <p>Los refranes de abuela se cumplieron, <i>"la cabra tiró al monte"</i>, y me formé profesionalmente como programador web.</p>
  <br>
  <p>
    Hoy pierdo la noción del tiempo desarrollando aplicaciones frontend y backend con las últimas tecnologías, pero he dejado la corbata a mano para cuando hace falta.
  </p>
  <br>
  <p>
     Si quieres conocer mejor mi trayectoria profesional, puedes consultar mis <a [routerLink]="['proyectos']">proyectos</a> como desarrollador, así como mi <a href="https://www.linkedin.com/in/angelgarridoalvarez/">perfil de linkedin</a>.
  </p>
</article>
