<div id="title">
  <h1>{{title}}</h1>
  <h2>{{subtitle}}</h2>
  <p>{{web}}</p>
  <p>{{email}}</p>
</div>
<article class="about">
  <h2 id="sobreMi">Sobre mí</h2>
  <p>
    Padre, hijo y compañero de viaje; medio castellano, medio andaluz; gran historial de éxitos y fracasos. Siempre mejor con cebolla y con bluetooth.  </p>
  <br>
  <p>
    Cuando tenía 15 años perdía la noción del tiempo maquetando páginas web en código html, editando archivos multimedia y diseñando logos en el sótano de la casa de mis padres.
  </p>
  <br>
  <p>
    Me fui a vivir a un piso de compartido, estudié ADE, me dieron una corbata, luego me pidieron que vistiera business casual y conocí el éxito profesional: un cliente me invitó a desayunar y hasta tuve cestas de navidad.
  </p>
  <br>
  <p> Aunque me gusta lucir chaqueta con coderas, creo que queda incluso mejor con una camiseta friki debajo, así que después de una Startup fallida, varios MOOC de Marketing Digital, un bootcamp de Full Stack Developer, y un Máster de Java de la Universidad de Alcalá, finalmente debuté profesionalmente como programador haciendo una tienda online para mi vecina del segundo.</p>
  <br>
  <p>
    Hoy me siento incluso mejor que con 15 años, sigo perdiendo la noción del tiempo desarrollando aplicaciones fullstack con las últimas tecnologías, pero además conservo la corbata que me dieron para esas cosas que se consiguen mejor con corbata.
  </p>
  <br>
  <p>
     Si quieres conocer mejor mi trayectoria profesional, puedes consultar mis <a [routerLink]="['proyectos']">proyectos</a> como desarrollador, así como mi <a href="https://www.linkedin.com/in/angelgarridoalvarez/">perfil de linkedin</a>.
  </p>
</article>
