<div id="title">
  <h1>{{title}}</h1>
  <h2>{{subtitle}}</h2>
  <p>{{web}}</p>
  <p>{{email}}</p>
</div>
<article class="about">
  <h2 id="sobreMi">Sobre mí</h2>
  <p>
    Padre, hijo y compañero de viaje; medio castellano, medio andaluz; gran historial éxitos y fracasos. Si no tiene bluetooth no me interesa.  </p>
  <br>
  <p>
    Cuando tenía 15 años perdía la noción del tiempo maquetando páginas web en código html y editando todo tipo de contenido multimedia al ritmo de los pitidos de un modem de 56k.
  </p>
  <br>
  <p>
    Estudié Administración y Dirección de Empresas, me gané una corbata y aprendí a trabajar bajo presión en un entorno competitivo.
  </p>
  <br>
  <p> Aunque me gusta verme de corbata, soy más de camisetas frikis, así que hice un bootcamp de Web Full Stack Developer, un Máster Universitario de Java, varios MOOC de Udemy y Coursera, y me desarrollé profesionalmente como programador web haciendo una tienda online con Angular y NodeJS para mi vecina del segundo.</p>
  <br>
  <p>
    Hoy pierdo la noción del tiempo desarrollando aplicaciones frontend y backend con las últimas tecnologías, pero he dejado la corbata a mano para cuando hace falta.
  </p>
  <br>
  <p>
     Si quieres conocer mejor mi trayectoria profesional, puedes consultar mis <a [routerLink]="['proyectos']">proyectos</a> como desarrollador, así como mi <a href="https://www.linkedin.com/in/angelgarridoalvarez/">perfil de linkedin</a>.
  </p>
</article>
