<div class="container">
  <h2 class="text-center mb-5">Deja tu mensaje y me pondré en contacto contigo lo antes posible</h2>
  <div class="row">
    <div>
      <form [formGroup]="FormData" (ngSubmit)="onSubmit(FormData.value)"><div class="form-group">
        <label for="Email">Email</label>
        <input type="email" class="form-control" name="Email" aria-describedby="emailHelp" placeholder="Introduce tu correo"formControlName="Email">
      </div>
        <div class="form-group">
          <label for="fullname">Nombre y Apellidos</label>
          <input type="text" class="form-control" name="Fullname" placeholder="Introduce tu nombre completo" formControlName="Fullname">
        </div>
        <div class="form-group">
          <label for="comment">Comentarios</label>
          <textarea id="comentarios" class="form-control" formControlName="Comment" name="Comment">
          </textarea>
        </div>
        <button type="submit" [disabled]="!FormData.valid">Enviar</button>
      </form>
    </div>
  </div>
  <br>
  <hr>
  <br>
  <a href="mailto: contacto@angeldeveloper.es">contacto@angeldeveloper.es</a>
  <br>
  <div>
    <a href="https://www.linkedin.com/in/angelgarridoalvarez/"><img class="icon" src="assets/img/linkedin.png"></a>
    <a href="https://www.instagram.com/amigo_angelis/"><img class="icon" src="assets/img/instagram.png"></a>
  </div>


</div>

