
<header>
  <div id='headerDiv1'>
    <div id='headerDiv2'>
    <ul>
      <li><a [routerLink]="['sobre-mi']" [routerLinkActive]="['activated']">sobre mí</a></li>
      <!-- uso routerLinkActive para dejar marcados los elementos de mi menú cuando los selecciono-->
      <li><a [routerLink]="['proyectos']" [routerLinkActive]="['activated']">proyectos</a></li>
      <li id="logo"><a href="#">
        <div><p>ÁGÁ</p></div>
      </a></li>
      <li><a [routerLink]="['crear-proyecto']" [routerLinkActive]="['activated']">crear proyecto</a></li>
      <li><a [routerLink]="['contacto']" [routerLinkActive]="['activated']">contacto</a></li>
    </ul>
  </div>
  </div>

</header>

<section id="content">
  <!--router-outlet: carga el funcionamiento del router - hace que funcionen todas las rutas que he establecido-->
  <router-outlet></router-outlet>

</section>

<footer>
  Ángel Garrido Álvarez - Web Fullstack Developer
</footer>
